.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
    background: #fff9c4;
    /* light yellow background */
    border: 2px solid #000;
}

.admin-card {
    text-align: center;
    max-width: 600px;
    padding: 30px;
    background: #ffeb3b;
    /* bold yellow card */
    border: 1px solid #000;
    border-radius: 12px;

}

.admin-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ffeb3b;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 16px;
}

.admin-icon.danger {
    background: #ffcdd2;
    /* light red for locked state */
}

.admin-btn {
    width: 100%;

    padding: 14px 24px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.primary-btn {
    background-color: #000;
    margin-top: 48px;
    color: #ffeb3b;
    border: 1px solid #000;
}

.secondary-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-top: 7px;
}


/* Modal overlay */
.admin-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal card */
.admin-modal-card {
    background: #ffeb3b;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 16px;
    max-width: 500px;
    text-align: center;
    width: 100%
}

.admin-modal-card h2 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.admin-modal-card p {
    margin-bottom: 36px;
    font-size: 15px;
    color: #333;
}

.admin-modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    /* flex-direction: column; */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #121212;
    font-size: 18px;
}

.form-group input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 32px
}